<div class="container">
  <form [formGroup]="analysisForm" (ngSubmit)="analyzeText()" class="form">
    <span class="p-float-label">
      <textarea
        id="inputText"
        rows="5"
        cols="80"
        pInputTextarea
        formControlName="inputText"
        [autoResize]="true"
      ></textarea>
      <label for="inputText">Enter text to be analyzed...</label>
    </span>

    <div class="options">
      <div class="mode">
        <div class="mode-online">
          <p-radioButton name="mode" value="ONLINE" formControlName="mode" inputId="online"></p-radioButton>
          <label for="online">Online</label>
        </div>
        <div class="mode-offline">
          <p-radioButton name="mode" value="OFFLINE" formControlName="mode" inputId="offline"></p-radioButton>
          <label for="offline">Offline</label>
        </div>
      </div>
      <div class="option">
        <div class="option-vowels">
          <p-radioButton name="option" value="VOWELS" formControlName="option" inputId="vowels"></p-radioButton>
          <label for="vowels">Vowels</label>
        </div>
        <div class="option-consonants">
          <p-radioButton name="option" value="CONSONANTS" formControlName="option" inputId="consonants"></p-radioButton>
          <label for="consonants" class="ml-2">Consonants</label>
        </div>
        <div class="option-both">
          <p-radioButton name="option" value="BOTH" formControlName="option" inputId="both"></p-radioButton>
          <label for="both" class="ml-2">Both</label>
        </div>
      </div>
    </div>
    <div class="action">
      <p-button label="Analyze" type="submit" [disabled]="!analysisForm.valid"></p-button>
    </div>
    </form>
</div>
