@import './variables.scss';


.container {
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 10px;

.form {
    .action {
        display: flex;
        justify-content: center;
       }

       textarea {
        background-color: $color-form;
       }
       
       
       .options {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        margin: 2rem 0;

        label {
            margin-left: 5px;
        }

        .mode, .option{
            width: 50%;

            div {
                margin: 5px 0;
            }
        }

    }
}

   
}