<div class="m-6 p-6 flex justify-content-center align-items-center bg-white border-round-lg">
  <form [formGroup]="analysisForm" (ngSubmit)="analyzeText()" class="form">
    <span class="p-float-label">
      <textarea
        id="inputText"
        rows="5"
        cols="80"
        pInputTextarea
        formControlName="inputText"
        [autoResize]="true"
      ></textarea>
      <label for="inputText">Enter text to be analyzed...</label>
    </span>

    <div class="flex my-4">
      <div class="w-6">
        <div class="my-1">
          <p-radioButton
            name="mode"
            value="ONLINE"
            formControlName="mode"
            inputId="online"
          ></p-radioButton>
          <label class="ml-1" for="online">Online</label>
        </div>
        <div class="my-1">
          <p-radioButton
            name="mode"
            value="OFFLINE"
            formControlName="mode"
            inputId="offline"
          ></p-radioButton>
          <label class="ml-1" for="offline">Offline</label>
        </div>
      </div>
      <div class="w-6">
        <div class="my-1">
          <p-radioButton
            name="option"
            value="VOWELS"
            formControlName="option"
            inputId="vowels"
          ></p-radioButton>
          <label class="ml-1" for="vowels"> Vowels</label>
        </div>
        <div class="my-1">
          <p-radioButton
            name="option"
            value="CONSONANTS"
            formControlName="option"
            inputId="consonants"
          ></p-radioButton>
          <label class="ml-1" for="consonants" class="ml-2">Consonants</label>
        </div>
        <div class="my-1">
          <p-radioButton
            name="option"
            value="BOTH"
            formControlName="option"
            inputId="both"
          ></p-radioButton>
          <label class="ml-1" for="both" class="ml-2">Both</label>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center">
      <p-button
        label="Analyze"
        type="submit"
        [disabled]="!analysisForm.valid"
      ></p-button>
    </div>
  </form>
</div>

<div *ngIf="(textAnalyzers$ | async)?.errorMessage">
<p-card>
  <p class="text-red-500">{{(textAnalyzers$ | async)?.errorMessage}}</p>
</p-card>
</div>

<div *ngFor="let textAnalyzer of (textAnalyzers$ | async)?.textAnalyzers" class="mx-6 my-2">
  <p-card>
    <div class="block mb-2">
      <p-badge value="{{textAnalyzer?.mode}}" severity="{{textAnalyzer?.mode === 'ONLINE' ? 'success' : 'danger'}}" class="mr-1"></p-badge>
      <p-badge value="{{textAnalyzer?.option}}"></p-badge>
    </div>
    <div class="block font-italic h-3rem overflow-y-auto text bg-blue-50 p-2 mb-2 border-round-lg">{{ textAnalyzer.inputText }}</div>
    <p *ngFor="let key of textAnalyzer.result | keyvalue" class="m-0 font-bold">
      {{ key.key | uppercase }}: {{ key.value }}
    </p>
  </p-card>
</div>
